<%= form_with model: @plant, local: true do |f|%>

  <div class="field">
    <%= f.label :plant_name, "植物の名前" %><br />
    <%= f.text_field :plant_name, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :plant_category, "植物の種類（シダ、カンアオイ等）" %><br />
    <%= f.text_field :plant_category, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="weight-bold-text">
    水やりの頻度
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:watering_id, Watering.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>

  <div class="weight-bold-text">
    成長の時期
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:growth_time_id, GrowthTime.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>

  <div class="weight-bold-text">
    薬散の時期
    <span class="indispensable">必須</span>
  </div>
  <%= f.collection_select(:agrochemical_time_id, AgrochemicalTime.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>

  <div class="field">
    <%= f.label :image, "植物の写真" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="field">
    <%= f.label :plant_text, "備考" %><br />
    <%= f.text_area :plant_text, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :plant_price, "値段" %><br />
    <%= f.text_area :plant_price, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :start_time, "購入日" %><br />
    <%= f.date_select :start_time %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>