<% if @today_watering %>
 <div class="card">
  <% if @today_watering.image.attached? %>
   <%= link_to image_tag(@today_watering.image, class: :card__img ), plant_path(@today_watering.id) %>
  <% else %>
   <%= link_to image_tag("/assets/noimage.jpg", class: :card__img), plant_path(@today_watering.id) %>
  <% end %>
  <div class="card__body">
    <%= link_to @today_watering.plant_name, plant_path(@today_watering.id), class: :card__title%>
    <p class="card__summary">
      <%= (@today_watering.start_time).strftime("%Y/%m/%d") %></p>
  </div>
  <%= @today_watering.growth_time_id %>
  <%= check_box_tag :sample %>
  <%= label_tag :sample, '作業完了' %>
</div>
<% else %>
  <p>今日は水やりの予定はありません。</p>
<% end %>
