<div class="card">
  <% if plant.image.attached? %>
    <%= link_to image_tag(plant.image, class: :card__img ), plant_path(plant.id) %>
    <% else %>
    <%= link_to image_tag("/assets/noimage.jpg", class: :card__img), plant_path(plant.id) %>
  <% end %>
  <div class="card__body">
    <%= (plant.watering_day).strftime("%Y/%m/%d") %>
  </div>
  <div class="card__title" >
    <% if plant.growth_time_id == 2 && ((Date.today.month >= 3 && Date.today.month <= 5) || (Date.today.month >= 10 && Date.today.month <= 11)) %>
    <%= "春・秋が成長期です。"%><br  />
    <% elsif plant.growth_time_id == 3 && (Date.today.month >= 6 && Date.today.month <= 9) %>
    <%= "夏が成長期です。"%><br  />
    <% elsif plant.growth_time_id == 4 && ((Date.today.month >= 11 && Date.today.month <= 12) || (Date.today.month >= 1 && Date.today.month <= 3)) %>
    <%= "冬が成長期です。"%><br  />
    <% end %>
    <%= "#{plant.plant_name}に<span style='color: blue;'>水</span>をあげます。".html_safe %>
  </div>
    <%= button_to "潅水完了", update_date_plant_path(plant), class: :form__btn %>
</div>
