<div class="card">
  <% if plant.image.attached? %>
    <%= link_to image_tag(plant.image, class: :card__img ), edit_plant_path(plant.id) %>
    <% else %>
    <%= link_to image_tag("/assets/noimage.jpg", class: :card__img), edit_plant_path(plant.id) %>
  <% end %>
  <div class="card__body">
    <%= (plant.watering_day).strftime("%Y/%m/%d") %>
  </div>
  <div class="card__title" >
    <%= "#{plant.plant_name}に水をあげます。" %>
  </div>
    <%= button_to "作業完了", update_date_plant_path(plant), class: :form__btn %>
</div>
