<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
         <%= link_to current_user.name, edit_user_registration_path(current_user.id), class: :greeting__link%>
        さん
      </div>
      <% if @plants ==0 %>
          <h1>お手持ちの植物を登録しください。</h1>
      <% else %>
        <% if @today_watering.any? %>
        <h1><%=Date.today.strftime("%Y年%m月%d日")%> 作業内容</h1>
         <div class="card__wrapper">
          <% @today_watering.each do |plant| %>
           <%= render partial: "watering", locals:{plant: plant} %>
          <% end %>
         </div>
         <% else %>
         <h1><%=Date.today.strftime("%Y年%m月%d日")%>の予定は完了しました！</h1>
         <h1>次の予定は</h1>
          <div class="card__wrapper">
           <% @next_watering.each do |plant| %>
            <%= render partial: "nextwatering", locals:{plant: plant} %>
           <% end %>
          </div>
         <% end %>
       <% end %>
      <% end %>
  </div>
</main>

