<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to current_user.name, edit_user_registration_path(current_user.id), class: :greeting__link%>
        さん
      </div>
      <% if @plants.any? %>
        <% if @today_watering.any? %>
          <h1><%=Date.today.strftime("%Y年%m月%d日")%> の作業内容は</h1>
          <div class="card__wrapper">
            <% @today_watering.each do |plant| %>
              <%= render partial: "watering", locals:{plant: plant} %>
            <% end %>
          </div>
        <% else %>
          <div class="finish_text">
            今日の予定は完了しました。
          </div>
          <h2>これからの予定は</h2>
          <div class="card__wrapper">
            <% @next_watering.each do |plant| %>
            <%= render partial: "nextwatering", locals:{plant: plant} %>
            <% end %>
          </div>
          <% end %>
      <% else %>
        <h1>どんな植物を育ててますか？<br>植物を登録しましょう。</h1>
      <% end %>
      <% else %>
      <div>「部屋に緑が欲しいけど、育てることができるだろうか…」<br>
      植物を育てるのは、難しくてどうしても枯らしてしまう…」<br>
      そんな悩みを解決します。<br>
      <br>
      Botanical-Assistは<br>
      植物を管理するうえで必要なタスクを適切なタイミングで行うことを<br>
      サポートします。
      </div>
      <%= image_tag("/assets/assistant.png", class: :card__img) %>
    <% end %>
  </div>
</main>